@media (max-width: 767px) {
  h2 {
    font-size: 22px;
  }
}

@media (min-width: 768px) {
  h2 {
    font-size: 40px;
  }
}

@media (max-width: 767px) {
  p {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  p {
    font-size: 15px;
  }
}

// presentation card

@media (max-width: 767px) {
  .presentation-card h1 {
    width: 177px;
  }
}

@media (min-width: 768px) {
  .presentation-card h1 {
    width: 314px;
  }
}

@media (max-width: 767px) {
  .presentation-card {
    height: 378px;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .presentation-card {
    height: 396px;
  }
}

// location card

@media (max-width: 767px) {
  .location {
    height: 296px;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .location {
    height: 396px;
  }
}

@media (max-width: 930px) {
  .location h2 {
    font-size: 22px;
    padding-top: 165px;
  }
}

@media (min-width: 931px) {
  .location h2 {
    font-size: 40px;
    padding-top: 165px;
  }
}

// header

@media (max-width: 767px) {
  .burger-header {
    display: none;
  }
  .nav-header {
    display: none;
  }
}

@media (min-width: 768px) {
  .burger-header {
    display: none;
  }
  .nav-header {
    display: contents;
  }
}

// carousel

@media (max-width: 767px) {
  .product-carousel .type-center p {
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (min-width: 768px) {
  .product-carousel .type-center p {
    margin-left: 155px;
    margin-right: 155px;
  }
}

// stickers

@media (max-width: 435px) {
  .stickers-left {
    height: 132px;
    bottom: 10%;
    left: 10%;
  }
}

@media (min-width: 436px) {
  .stickers-left {
    height: 236px;
    bottom: 0;
    left: 0;
  }
}

@media (max-width: 435px) {
  .stickers-right {
    height: 112px;
    top: 0;
    right: 0;
  }
}

@media (min-width: 463px) {
  .stickers-right {
    height: 134px;
    top: 0;
    right: 0;
  }
}

// footer

@media (max-width: 435px) {
  .copyright {
    font-size: 10px;
  }
}

@media (min-width: 463px) {
  .copyright {
    font-size: 16px;
  }
}
