.scrolling-slogan {
  display: flex;
  align-items: center;
  gap: 10px;
  overflow: hidden;
}

.txt {
  white-space: nowrap;
  animation: Scroll 10s linear infinite;
}

@keyframes Scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
