.l-bk-green {
  background: rgba(78, 96, 58, 0.7);
}

.l-bk-yellow {
  background: #f6e235;
}

.l-bk-light-orange {
  background: #edc17f;
}

.l-bk-orange {
  background: #f19918;
}

.l-bk-pink {
  background: #fe92a9;
}

.l-bk-red {
  background: #d22422;
}

.l-bk-light-green {
  background: #9defab;
}

.l-bk-black {
  background: #252525;
}

.scrolling-slogan {
  background: #4e603a;
  color: #e5eee6;
  font-family: "obviously", sans-serif;
  font-weight: 700;
  font-style: normal;
}

body {
  background: #e5eee6;
}

h1 {
  font-family: "roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

h2 {
  font-family: "obviously", sans-serif;
  font-weight: 600;
  font-style: normal;
}

p {
  font-family: "obviously", sans-serif;
  font-weight: 400;
  font-style: normal;
}
